

body {
  background-color:#e7e8d1;
}
ul{

}
#topNav li{
    text-decoration: none;
    display: inline;
    float: right;
    padding: 15px;
}

#topNav li:hover{
  background-color:#a7beae;
}

#topNav li a{
    text-decoration: none;
    float: left;
    fontfamily: monospace;
    font-size: 20px;
    color:#b85042;
}
#topNav li a:hover{
  color:#b85042;
}
#menuNav{
  height: 100%;
  width: 155px;
  background-color: #a7beae;
  border: 5px solid #b85042;
  float: left;
list-style: none;

}

#menuNav li a{
  text-decoration: none;
  float: left;
  font-size: 15px;
  fontfamily: monospace;
  padding-top: 45px;
  font-size: 15px;
  color:white;
}
#menuNav li a:hover{
  background-color:#b85042;

}

#para{
  font-size: 15px;
  fontfamily: monospace;
  padding-top: 45px;
  color:#b85042;
  float: right;
  display: inline;
  text-align: center;
}

img {
  border: 3px solid #b85042;
}
